@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono:wght@300&display=swap" rel="stylesheet");

*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    text-align:center;
}

html{
    font-size:62.5%;
}

body{
font-family:'Roboto Mono', monospace;
}

.info{
    background-color:#DDB9A3;
}
footer{
    background-color: #F9E7DC;
}
    header{
        display:inline-block;
        width:50%;
        height:50%;
    }

    .button1{
background-color: #FF764E;
display:inline-block;
margin: 1% 8%;
border-radius: 15px;
width: 8%;
color:white;
text-decoration:none;

    }

    .button2{
        background-color: #5ED3EB;
        display:inline-block;
        margin: 1% 8%;
        border-radius: 15px;
        width: 8%;
        color:white;
        text-decoration:none;

    }

    .button3{
        background-color: #FFCD69;
        display:inline-block;
        margin: 1% 8%;
        border-radius: 15px;
        width: 8%;
        color:white;
        text-decoration:none;
        
    }

    .mountain{
        widows: 15%;
        height:15%;
    }
.header p{
    text-align:center;
}
h1 {
    font-family:'Chelsea Market', cursive;
    width: 40%;
    height:20%;
    margin-top:5%;
    margin-left:8%;
    display:inline-block;
}
h2{

}

.bold{
    font-weight:900;
}

.mountain{
    border-radius:50%;
    width: 20%;
    height:20%;
    margin-top:5%;
    margin-left:8%;
    display:inline-block;


}
nav{
    text-align:center;
}